@media all and (max-width: 30em) {
    .logo-programador {
        width: 150px;
        height: 150px;
    }

    #sessao-sobre {
        width: 100dvw;
        height: calc(100dvh - 100px);
    }

    #sessao-skills {
        width: 100dvw;
        height: 100dvh;
    }

    #sessao-projetos {
        width: auto;
        margin-top: 1400px;
    }

    .soft__list {
        gap: 2rem;
    }


    .other-skills p {
        font-size: 1.5rem;
    }


    .sobre__descricao {
        & .animated-text {
            font-size: 1.7rem;
            min-width: 0;
        }

        & p {
            font-size: 14px;
        }
    }

    .skills__bar-image img {
        width: 150px;
        height: auto;
    }
}