@media all and (max-width: 1035px) {

    .sobre {
        display: flex;
        flex-direction: column-reverse;
        gap: 2rem;
        padding-top: 0;
        padding-bottom: 4rem;
        align-items: center;
    }

    .logo-programador {
        width: 250px;
        height: 250px;
    }

    .arrowdown {
        margin-top: 0;
    }

    .skills__bar {
        & .contents {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            & .content-skills {
                width: 70%;
                display: flex;
                flex-direction: column;

                & .details html {
                    display: flex;
                    gap: 4rem;
                }

                & .skills-horizontal {
                    display: flex;
                    flex-wrap: wrap;
                    gap: 2rem;
                    justify-content: center;
                }
            }
        }
    }


    .sobre__descricao {
        width: 100%;
        gap: 3rem;
    }

    .sobre__descricao p {
        font-size: 1.3rem;
    }

    .sobre__buttons {
        & .sobre__buttons-links {
            flex-direction: column;
            align-items: center;
            gap: 3rem;
        }
    }

    .sobre-icons {
        justify-content: center;
    }
}