@media all and (max-width: 75em) {

    .card .card-content {
        padding: 15px;
    }

    .card .card-content .card-title {
        font-size: 1.6rem;
    }

    .card .card-content .card-text {
        font-size: 1.4rem;
    }

    .card .card-footer {
        flex-direction: column;
        align-items: flex-start;
        gap: 1rem;
    }

    .card .card-profile img {
        width: 28px;
        height: 28px;
    }

    .card .card-footer .button {
        font-size: 1.2rem;
    }

    .swiper-button-next,
    .swiper-button-prev {
        display: none;
    }

    .swiper-pagination {
        margin-top: 2rem;
    }



    #cabecalho {
        display: none;
    }

    .section-skills {
        flex-direction: column;
        align-items: center;
        padding: 0;
    }

    .other-skills {
        width: 100dvw;
        padding: 5rem;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .other-skills p {
        text-align: center;
        font-size: 1.7rem;
        width: fit-content;
    }

    .soft-skills {
        width: 100%;
        justify-content: center;
        align-items: center;
    }

    .soft-list {
        justify-content: center;
        align-items: center;
        gap: 3rem;
    }

    .soft-list-content {
        flex-direction: column;
        gap: 2rem;
        align-items: center;
    }

    .soft-list-content div {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
    }

    .soft-list-content li {
        font-size: 1.6rem;
        gap: 0.5rem;
    }

    .soft-list-content img {
        width: 20px;
        height: 20px;
    }

    .section {
        width: 100vw;
    }

    .skills__container {
        width: 60vw;
        display: flex;
        flex-flow: column;
    }

    .container {
        background-color: #7e848663;
        display: flex;
        width: 100vw;
        padding: 2rem;
        gap: 1.5rem;
    }

    .skills__container .skills__bar {
        display: flex;
        flex-direction: column;
        gap: 2rem;
        align-items: center;
        justify-content: center;
    }

    .skills__section {
        display: flex;
        flex-flow: column;
        align-items: center;
        justify-content: center;
    }

    .skills-bar-image img {
        width: 100%;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .contents {

        display: flex;

        & .content-skills {
            width: 100%;
            display: flex;
            flex-direction: column;

            & .details html {
                display: flex;
                gap: 4rem;
            }

            & .skills-horizontal {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: center;
            }
        }


        .content-skills {
            display: flex;
            flex-flow: column;
            gap: 1rem;
            width: 250px;
            height: auto;

            & h4 {
                margin-bottom: 2rem;
            }
        }

        .section {
            height: auto;
        }
    }

    .sobre__buttons {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    p {
        font-size: 1.7rem;
    }

    ;
}